@import "./reuseable";

.App-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  // App Header

  .App-header {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @include desktop {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    #logo {
      margin-top: 0.5em;
      height: 5vh;
      width: auto;

      @include tablet {
        margin: 0.5em;
      }

      @include desktop {
        margin: 0.8em;
      }
    }

    #nav-buttons {
      height: 4em;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      @include tablet {
        width: 50%;
      }

      @include desktop {
        width: 60%;
      }

      li {
        width: 30%;
        height: 35%;
        padding-top: 0.5em;
        font-family: "Karla", sans-serif;
        @include responsive-font(2vw, 16px, 20px);
        list-style: none;
        text-align: center;
      }

      #home,
      #phone {
        border-right: 3px solid black;
      }
    }
  }

  // Page hero image and content

  .App-page {
    display: grid;
    grid-template-columns: repeat(3fr);
    grid-template-rows: repeat(2fr);

    #hero {
      grid-area: 1/1/2/4;
      @include heroImage("../assets/hero-small.png");

      @include tablet {
        @include heroImage("../assets/hero-mid.png");
      }

      @include desktop {
        @include heroImage("../assets/hero.png");
      }
    }

    #overlay {
      grid-area: 1/1/2/4;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        color: white;
        @include responsive-font(10vw, 40px, 90px);
        font-family: "Karla", sans-serif;
      }

      h2 {
        margin: 0;
        background: #d4cb02;
        padding: 0.2em;
        border: 5px solid black;
        @include responsive-font(4vw, 30px, 70px);
        font-family: "Karla", sans-serif;
      }

      #ellipsis {
        display: flex;
        justify-content: space-evenly;
        .dot {
          margin: 0.5em;
          height: 0.7em;
          width: 0.7em;
          border-radius: 50%;
          background: #d4cb02;
        }

        #dot1 {
          background: white;
        }
      }
    }

    #info {
      grid-area: 2/1/3/4;
      p {
        padding: 2em;
        font-family: "Montserrat", sans-serif;
        @include responsive-font(2vw, 16px, 20px);
      }
    }
  }

  // SVG images and small blurbs

  .App-blurbs {
    width: 100%;
    background: black;
    color: white;

    @include tablet {
      display: flex;
    }

    @include desktop {
      display: flex;
    }

    #basalt {
      @extend %blurb-styles;
    }

    #tech {
      @extend %blurb-styles;
    }

    #challenge {
      @extend %blurb-styles;
    }
  }

  .App-footer {
    height: 5em;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    @include responsive-font(2vw, 16px, 18px);

    @include tablet {
      justify-content: flex-start;
    }

    @include desktop {
      justify-content: flex-start;
    }
  }
}
